<h1>Flop Voter</h1>

<div class="movies">
  <div class="first-movie" style="margin: 25px">
    <h3 [hidden]="!isSelected(0)">Chosen!</h3>
    <img src="https://www.cinefish.bg/data/movies_images/319/p_319653.jpg" alt="Аватар: Природата на водата" width="250px" height="360px">
    <br>
    <button class="btn btn-primary"
    [disabled]="anySelected() && !isSelected(0)" (click)="onVoteClick(0)">{{getButtonText(0)}}</button>
  </div>
  <div class="second-movie" style="margin: 25px">
    <h3 [hidden]="!isSelected(1)">Chosen!</h3>
    <img src="https://www.cinefish.bg/data/movies_images/320/p_320069.jpg" alt="ИКрийд 3" width="250px">
    <br>
        <button class="btn btn-primary" [disabled]="anySelected() && !isSelected(1)" (click)="onVoteClick(1)">{{getButtonText(1)}}</button>
  </div>
  
  <div class="third-movie" style="margin: 25px">
    <h3 [hidden]="!isSelected(2)">Chosen!</h3>
    <img src="https://www.cinefish.bg/data/movies_images/320/p_320491.jpg" alt="Джон Уик 4" width="250px">
    <br>
    <button class="btn btn-primary" [disabled]="anySelected() && !isSelected(2)" (click)="onVoteClick(2)">{{getButtonText(2)}}</button>
  </div>

  <div class="fourt-movie" style="margin: 25px">
    <h3 [hidden]="!isSelected(3)">Chosen!</h3>
    <img src="https://www.cinefish.bg/data/movies_images/320/p_320351.jpg"
    alt="Изумителният Морис и неговите образовани гризачи" width="250px">
    <br>
      <button class="btn btn-primary" [disabled]="anySelected() && !isSelected(3)" (click)="onVoteClick(3)">{{getButtonText(3)}}</button>
  </div>
</div>  





<!-- <div class="movies">
  <img src="https://www.cinefish.bg/data/movies_images/1/p_1454.jpg" alt="Изкуплението Шоушенк (1994)" width="250px">

  <img src="https://www.cinefish.bg/data/movies_images/320/p_320491.jpg" alt="Джон Уик 4" width="250px">

  <img src="https://www.cinefish.bg/data/movies_images/320/p_320351.jpg"
    alt="Изумителният Морис и неговите образовани гризачи" width="250px">

  <img src="https://www.cinefish.bg/data/movies_images/320/p_320069.jpg" alt="ИКрийд 3" width="250px">
</div> -->





<!-- <div class="btns">
  <button class="btn btn-primary"
  (click)="chosenMovie()"
  [disabled]="!bestMovieEver"
  >Vote</button><span id="test"></span>
  <button class="btn btn-primary">Vote</button>
  <button class="btn btn-primary">Vote</button>
  <button class="btn btn-primary">Vote</button>
</div> -->